# My Jupyter Notebook on IBM Watson Studio

Name: **Rhuan Fracalossi Melo**  
Current Occupation: Marine Engineer

*I am interested in Data Science because I really would like to develop and publish some reports about marine engineering and vessels around the world. I belive that, with data and a good methodology, a lot of insights could be developed.*

### Let's suppose a car spent 2 hours from Los Angeles to Orlando. The mean speed during the travel was 72 kilometers per hour. What is the distance between these cities? Next cell will solve this problem showing that velocity is the relation between travelled distance and time spent during the trip.

In [12]:
Speed = 72
Time = 2
Distance = Speed/Time
print(Distance,'km')

36.0 km

Hello

---

Five thing about me:

* My name is Rhuan
> I'm enjoying learn Data Science

***

Nice to meet you, guys